<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leprechaun.airport">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_airplane_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_airplane_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.AdminnActivity"
            android:label="Airport"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="Airport">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.UserActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.AirlineActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activities.AirportActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".activities.AirplaneActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".activities.TimeTableActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".activities.FlightActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".activities.TicketActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>